/* COLOR PALLET: Deep Royal: #281B24, Thunder: #3E3842, Stormy Sky: #74858F, Foam: #A4BDBE, Baby Bird: #BDD6DA */

@import url('https://fonts.googleapis.com/css?family=Alumni+Sans');
/* font family is 'Alumni Sans', Sans-serif */

body {
    background-color: #281B24;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "alumni sans", sans-serif;
}

/* nav-bar styling */

#nav-bar-ctr {
    padding: 20px;
    display: block;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#nav-bar a {
    text-decoration: none;
    color: #BDD6DA;
    font-size: 3rem;
    z-index: 10;
}

#nav-links {
    position: relative;
}

#nav-links::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #74858F;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#nav-links:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Mobile responsive styling */
@media (max-width: 768px) {
    #nav-bar-ctr {
        flex-direction: column;
        align-items: flex-start;
    }

    #nav-bar a {
        margin: 10px 0;
        font-size: 2rem;
    }

    body #home-ctr {
        transform: translateY(-50px);
    }

    body #home-title {
        font-size: 3.5rem;
        margin-bottom: 0px;
    }

    body #position-title {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    body #home-bio {
        width: 80%;
        font-size: 1.5rem;
    }

    body #projects-title {
        font-size: 3rem;
    }

    body #project-1-title,
    body #project-2-title,
    body #project-3-title {
        font-size: 2rem;
    }

    body #project-card {
        flex-direction: column;
        align-items: center;
    }

    body #project-card:nth-child(even) {
        flex-direction: column; 
    }

    body #project-card a, 
    body #project-card h2, 
    body #project-card p {
        width: 100%; 
        text-align: center;  
    }
}

/* home.js styling */

#home-ctr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 40px - 40px);
    text-align: center;
    color: #74858F;
    transform: translateY(-100px);
}

#home-title {
    font-size: 8rem;
    margin-bottom: 20px;
}

#position-title {
    font-size: 5rem;
    margin-bottom: 20px;
}

#home-bio {
    width: 40%;
    font-size: 2rem;
}

#about-bio-link {
    text-decoration: none;
    color: #BDD6DA;
}

#about-bio-link:hover {
    color: #A4BDBE;
}

body, #root, #body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* footer styling */

#footer-ctr {
    margin-top: auto;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #74858F
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    color: #BDD6DA;
    margin: 0 5px;
    text-decoration: none;
}

#footer-box {
    font-size: 1.5rem;
    padding: 10px;
}

/* projects styling */

#projects-title {
    text-align: center;
    margin-top: 50px;
    color:#74858F;
    font-size: 5rem;
}

#projects-ctr {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#project-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
    margin: 20px 0;
}

#project-card:nth-child(even) {
    flex-direction: row-reverse;
}

#project-card a, 
#project-card h2, 
#project-card p {
    width: 500px;
    margin: 0;
    padding: 10px;
}

#project-1-title,
#project-2-title,
#project-3-title {
    color: #BDD6DA;
    font-size: 3rem;
}

#project-1-link,
#project-2-link,
#project-3-link {
    text-decoration: none;
    position: relative;
}

#project-1-link::after,
#project-2-link::after,
#project-3-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #74858F;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#project-1-link:hover::after,
#project-2-link:hover::after,
#project-3-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#project-1-description, 
#project-2-description, 
#project-3-description {
    width: 500px;
    color: #74858F;
    font-size: 2rem;
}

/* about page styling */

#about-ctr {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 80px;
}

#about-card,
#hobbies-card,
#contact-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin-bottom: 20px;
}

#about-title,
#hobbies-title,
#contact-title {
    float: right;
    margin-right: 20px;
    text-align: right;
    font-size: 4rem;
    color: #74858F;
    padding-bottom: 10px;
}

#about-bio,
#hobbies-bio,
#contact-bio {
    float: right;
    width: 60%;
    flex: 2;
    text-align: left;
    font-size: 2rem;
    color: #74858F;
    text-indent: 20px;
}

#contact-card {
    padding-bottom: 20%;  /* to space apart the footer from the content */
}

#single-headshot-img {
    position: absolute;
    right: 10%;
    top: 0;
    width: 30%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 25px;
}

#shredding-img {
    position: absolute;
    right: 10%;
    width: 30%;
    height: auto;
    top: 43%;
    margin-bottom: 20%;
    border-radius: 25px;
}

#band-img {
    position: relative;
    right: 15%;
    width: 40%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 25px;
}

#about-linkedin-link,
#about-github-link {
    text-decoration: none;
    color: #BDD6DA;
}

#about-linkedin-link:hover,
#about-github-link:hover {
    color: #A4BDBE;
}

#hvnted-site-link {
    text-decoration: none;
    color: #BDD6DA;
}

#hvnted-site-link:hover {
    color: #A4BDBE;
}